go 1.19

use (
	./service/adservice
	./service/cartservice
	./service/checkoutservice
	./service/currencyservice
	./service/emailservice
	./service/frontend
	./service/paymentservice
	./service/productcatalogservice
	./service/recommendationservice
	./service/shippingservice
)
