go 1.19

use (
	./service/ad
	./service/cart
	./service/checkout
	./service/currency
	./service/email
	./service/frontend
	./service/payment
	./service/productcatalog
	./service/recommendation
	./service/shipping
)
