name: Unit Tests

on:
  pull_request:
    branches:
      - "main"
  push:
    branches:
      - "main"

jobs:
  testing:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.18

      - name: Test AdService
        run: |
          cd src/adservice
          go vet ./...
          go test -v ./...


      - name: Test CartService
        run: |
          cd src/cartservice
          go vet ./...
          go test -v ./...

      - name: Notify of test failure
        if: failure()
        id: slack
        uses: slackapi/slack-github-action@v1.18.0
        with:
          channel-id: 'github-actions'
          slack-message: "Dashboard tests: ${{ job.status }}\n${{ github.event.pull_request.html_url || github.event.head_commit.url }}"
        env:
          SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}